POSTGRES_DB=analytics_db
POSTGRES_USER=admin_dba
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

EXCHANGE_API_URL=https://api.exchangerate-api.com/v4/latest/USD
API_TIMEOUT_SECONDS=5
API_MAX_ATTEMPTS=3
LOG_LEVEL=INFO
